@import "../../scss/img-post";
@import "../../scss/mixins";

@each $index, $cover in $projects {
    .cover-post-#{$index}:not([src]) {
      @include portada($cover);
    }
}

.cell {
  position: relative;
  background-size: cover;
  /* content: url(../../img/Yumlato/yumlatoCover960.jpg); */
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  font-size: 14px;
  /* font-weight: 500; */
  line-height: 15px;
}

.default {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  &-title {
    background-color: rgba(255,255,255,0.7);
    border-radius: 6px 6px;
    color: #4d4d4d;
    padding: 1px 5px;
    text-align: right;
  }
}

.cell:hover {
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.3);
}
.details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  &-project {    
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    padding: 2px;
    margin: 30px;
    h1 {
      color: #777777;
      // filter: invert(1);
      font-size: 18px;
      line-height: 18px;
      font-weight: 600;
      margin: 0;
      padding: 0;
      max-width: fit-content;
    }
    p {
      color: #999999;
      font-size: 14px;
      line-height: 14px;
      margin: 0;
      padding-top: 6px;
    }
  }
  &-goto {
    display: inline-block;
    text-decoration: none;
    color: #777777;
    margin: 30px;
    font-size: 40px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    padding: 2px;
  }
  &-goto:hover {
    color: #77777780;
    transition-duration: 200ms;
  }
}
.close {
  position: absolute;
  top: 60px;
  right: 60px;
  font-size: 20px;
  color: #777777;
}
.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  & svg {
    display: inline-block;
  }
  & > * {
    line-height: 1;
  }
  & svg:not(:root) {
    overflow: hidden;
  }
}
.grid {
  width: 80%;
  max-width: $vw-width;
  height: calc(80vh - 16px);
  margin: 0 auto;
  flex: 1;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
  & div {
    overflow: hidden;
  }
}
.grid::-webkit-scrollbar {
  width: 6px;
}
.grid::-webkit-scrollbar-track {
  background: transparent;
}
.grid::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}
@include respond-to(mobile) {
  .grid {
    width: 100%;
    height: 100%;
    // z-index: 200;
    & div {
      overflow: visible;
    }
  }
  .details {
    &-project {
      margin: 10px;
    }
    &-goto {
      font-size: 50px;
      margin: 30px 45px;
    }
  }
  .close {
    font-size: 30px;
    top: 70px;
    right: 70px;
  }
}
