@import "../../../scss/img-post";
@import "../../../scss/mixins";

.dropdown {
    position: relative;
    &_menu {
        margin: 0 auto;
        left: 0%;
        width: 100%;
        max-width: $vw-width;
        padding: 0;
        overflow: hidden;
        .swiper-container {
            padding-bottom: 1.2rem;
        }
        .swiper-pagination {
            margin-bottom: 0.8rem;
            &-bullet {
                background: white;
            }
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background-color: transparent;
            a {
                text-decoration: none;
                img {
                    display: block;
                    max-width: 100%;
                }
                p {
                    color: white;
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin: 0.3rem 0;
                }
            }
            @each $index, $cover, $name in $projects {
                &-#{$index}:not([src]) {
                    @include portada($name);
                }
            }
        }
    }
}
@include respond-to(mobile) {
    .dropdown_menu {
        display: none;
    }
}
@include respond-to(mb_tablet) {
    @each $index, $cover, $mobile in $projects {
        .cover-post-#{$index}:not([src]) {
            @include portada($mobile);
        }
    }
}