@import "../../scss/img-post";
@import "../../scss/mixins";

header {
    
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin: 0;
    @include transition-fade;

    .nav {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 0 auto;
        max-width: $vw-width;
        margin-top: 2.3rem;
        z-index: 100;
        @include transition-fade;
        #logo {
            content: $logo;
            max-height: 4rem;
            margin: 0.7rem 0 0.7rem 5vw;
        }

        &__menu {
            margin: 0 8vw 0 auto;
            padding: 0;
            align-self: center;
            cursor: default;
        }
        &__menu:focus {
            outline: none;
        }
        // .land {
        //     color: white;
        //     border-bottom: 1px solid white;
        //     cursor: context-menu;
        // }

        &__item {
            display: inline-block;
            list-style: none;
            color: white;
            cursor: default;
            margin: 0 1rem;
            font-size: 0.85rem;
            font-weight: 400;
            &.menu_mobile {
                display: none;
            }
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                margin-top: 2px;
                border-radius: 2px;
                background: white;
                transition: width 200ms ease-in-out;
            }
            &.land::after,
            &:hover::after {
                width: 100%;
            }
        }
        &__link {
            text-decoration: none;
            color: white;
            @include transition-fade;
            
            &:hover {
                outline: 0;
                color: silver;
                @include transition-fade;
            }
        }
    }
}
.scrolled {
    // background: $bg-header;
    // @include transition-fade;
    nav {
        margin-top: 0;
        @include transition-fade;
    }
}
@include respond-to(mobile) {
    header {
        .nav {
            position: relative;
            margin-top: 0;
            #logo {
                margin: 0.3rem 0 0.3rem 5vw;
            }
            .land::after {
                width: 0%;
            }
            &__menu {
                display: none;
                &__sidebar {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin: 15rem 0 0 0;
                    z-index: 500;
                    padding: 0;
                }
            }
            &__item {
                margin: 0.7rem 0;
                font-size: 1.8rem;
                &:hover,
                &:focus {
                    background-color: rgba(0, 0, 0, 0.2);
                    @include transition-fade;
                }
                // &.dropdown-6,
                .triangle-up {
                    display: none;
                }
                // &.menu_mobile {
                //     display: block;
                // }
            }
        }
        .sidebar {
            position: absolute;
            width: 100%;
            height: 150vh;
            top: 0%;
            margin: 0;
            background-color: $splash-color;
        }
    }
}
