html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", BlinkMacSystemFont, "Apple Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a {
  -webkit-tap-highlight-color: transparent;
}

header {
  position: fixed;
  z-index: 1000;
  min-width: 100%;
  margin: 0;
  transition: all 500ms ease-in-out;
}

header .nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 2.3rem;
  transition: all 500ms ease-in-out;
}

header .nav #logo:not([src]) {
  content: url(../img/Logotipo/logo.png);
  max-height: 4rem;
  margin: 0.7rem 0 0.7rem 5vw;
}

header .nav__menu {
  margin: 0 8vw 0 auto;
  padding: 0;
  align-self: center;
  cursor: default;
}

header .nav__menu:focus {
  outline: none;
}

header .nav .land {
  color: white;
  border-bottom: 1px solid white;
  cursor: context-menu;
}

header .nav__item {
  display: inline-block;
  list-style: none;
  color: white;
  cursor: default;
  margin: 0 1rem;
  font-size: 0.85rem;
  font-weight: 400;
}

header .nav__item.menu_mobile {
  display: none;
}

header .nav__link {
  text-decoration: none;
  color: white;
  transition: all 500ms ease-in-out;
}

header .nav__link:hover, header .nav__link:focus {
  outline: 0;
  color: silver;
  transition: all 500ms ease-in-out;
}

.scrolled {
  background: rgba(0, 0, 0, 0.6);
  transition: all 500ms ease-in-out;
}

.scrolled nav {
  margin-top: 0;
  transition: all 500ms ease-in-out;
}

.dropdown {
  position: relative;
}

.dropdown-6 {
  position: relative;
}

.dropdown-6 .triangle-up {
  position: absolute;
  top: -1000%;
  opacity: 0;
  right: 13%;
  width: 0;
  height: 0;
  transition-delay: 500ms;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid;
  border-bottom-color: white;
}

.dropdown-6 .triangle-up.show {
  top: 2.5rem;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.dropdown_menu {
  display: block;
  position: absolute;
  top: -1000%;
  opacity: 0;
  left: 0%;
  width: 100%;
  max-width: 1920px;
  max-height: auto;
  transition-delay: 500ms;
  padding: 0;
  perspective: 1000px;
  background-color: white;
}

.dropdown_menu.show, .dropdown_menu:hover {
  top: 90%;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.dropdown_menu .swiper-container {
  width: 100%;
  padding: 1.2rem 0;
}

.dropdown_menu .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown_menu .swiper-slide a {
  text-decoration: none;
}

.dropdown_menu .swiper-slide a img {
  display: block;
  max-width: 100%;
}

.dropdown_menu .swiper-slide a p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0.3rem 0;
}

.dropdown_menu .swiper-slide-1:not([src]) {
  content: url(../img/Yum/yum-portada-480.jpg);
  display: block;
  max-width: 100%;
}

.dropdown_menu .swiper-slide-2:not([src]) {
  content: url(../img/STB/STB-Portada-480.jpg);
  display: block;
  max-width: 100%;
}

.dropdown_menu .swiper-slide-3:not([src]) {
  content: url(../img/SDO/sdo-portada-480.jpg);
  display: block;
  max-width: 100%;
}

.dropdown_menu .swiper-slide-4:not([src]) {
  content: url(../img/Colores/colores-portada-480.jpg);
  display: block;
  max-width: 100%;
}

.dropdown_menu .swiper-slide-5:not([src]) {
  content: url(../img/HCB/HCB-Portada-480.jpg);
  display: block;
  max-width: 100%;
}

.dropdown_menu .swiper-slide-6:not([src]) {
  content: url(../img/Calza/calza-portada-480.jpg);
  display: block;
  max-width: 100%;
}

.dropdown_menu .swiper-slide-7:not([src]) {
  content: url(../img/Malteadas/malteadas-portada-480.jpg);
  display: block;
  max-width: 100%;
}

.dropdown_menu .swiper-slide-8:not([src]) {
  content: url(../img/Bonf/bonf-portada-480.jpg);
  display: block;
  max-width: 100%;
}

.dropdown_menu .swiper-slide-9:not([src]) {
  content: url(../img/CHH/chhportadas-480.jpg);
  display: block;
  max-width: 100%;
}

.dropdown_menu .swiper-slide-10:not([src]) {
  content: url(../img/Yumlato/yumlaportadas-480.jpg);
  display: block;
  max-width: 100%;
}

.nav__toggle {
  display: none;
}

@media only screen and (max-width: 480px) {
  .nav__toggle {
    display: inline-block;
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
    right: 15px;
    top: 12px;
    border-radius: 50%;
    transition: background-color 0.15s linear;
  }
}

.nav__toggle:hover, .nav__toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.menuicon {
  display: block;
  cursor: pointer;
  color: white;
  transform: rotate(0deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

.menuicon__bar {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out;
}

.menuicon__circle {
  transition: stroke-dashoffset 0.3s linear 0.1s;
  stroke-dashoffset: 144.51326;
  stroke-dasharray: 144.51326;
}

.splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
}

.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #5a5a5a;
  width: 284vmax;
  height: 284vmax;
  top: -142vmax;
  left: -142vmax;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}

.nav:target > .splash::after,
.nav--open > .splash::after {
  transform: scale(1);
}

.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  transform: rotate(180deg);
}

.nav:target .menuicon__circle,
.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}

.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}

.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  transform: rotate(45deg);
}

.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  transform: rotate(-45deg);
}

.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}

.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  transform: translateY(0);
}

main {
  max-width: 1920px;
  margin: 0 auto;
}

.main-banner {
  position: relative;
  overflow: hidden;
}

.main-banner #mainBanner:not([src]) {
  display: block;
  content: url(../img/Bannerdesktop-1920.png);
  max-width: 100%;
}

.main-banner h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  width: 80%;
  text-align: center;
  font-size: calc(1.5vw + 2.2em);
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: whitesmoke;
  margin: 0;
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .main-banner h2 {
    font-size: 3.6vw;
  }
}

.intro-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  max-width: 1920px;
}

.intro-text img,
.intro-text .bio-text {
  margin: auto 2rem;
  max-width: 400px;
  height: auto;
}

.intro-text #valenPic:not([src]) {
  content: url(../img/foto-avatar-588.png);
}

.intro-text .bio-text {
  position: relative;
  font-size: 0.9rem;
  overflow-y: visible;
}

.intro-text .bio-text div {
  margin: 0;
}

.intro-text .bio-text div #bio-es,
.intro-text .bio-text div #bio-en {
  margin: 0;
  text-align: justify;
}

.intro-text .bio-text div .showed {
  display: block;
}

.intro-text .bio-text div .hidden {
  display: none;
}

.intro-text .bio-text #translate {
  position: absolute;
  bottom: -19%;
  right: 0%;
  z-index: 50;
  font-size: 0.7rem;
  text-decoration: none;
  font-style: italic;
  cursor: pointer;
}

.banner-1 {
  position: relative;
  background-color: white;
  max-width: 100%;
  height: 230px;
  overflow: hidden;
}

.banner-1-works:not([src]) {
  content: url(../img/myworks-19.png);
  position: absolute;
  width: 85%;
  top: 0%;
  left: 200%;
  z-index: 20;
  opacity: 0;
}

.banner-1 .left-roll {
  opacity: 1;
  left: 5%;
  animation: slide-in-right 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.cover {
  display: flex;
  flex-wrap: wrap;
}

.cover-post {
  position: relative;
  max-width: 50%;
}

.cover-post a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.cover-post-overlay {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.cover-post-title {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.cover-post-title h3 {
  font-size: 1.6rem;
  margin: 0;
}

.cover-post-title p {
  font-size: 1.1rem;
  margin: 0;
}

@media only screen and (min-width: 481px) {
  .cover-post:hover .cover-post-overlay {
    opacity: 1;
  }
  .cover-post:hover .cover-post-title {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}

.cover-post-1:not([src]) {
  content: url(../img/Yum/yum-portada-960.jpg);
  display: block;
  max-width: 100%;
}

.cover-post-2:not([src]) {
  content: url(../img/STB/STB-Portada-960.jpg);
  display: block;
  max-width: 100%;
}

.cover-post-3:not([src]) {
  content: url(../img/SDO/sdo-portada-960.jpg);
  display: block;
  max-width: 100%;
}

.cover-post-4:not([src]) {
  content: url(../img/Colores/colores-portada-960.jpg);
  display: block;
  max-width: 100%;
}

.cover-post-5:not([src]) {
  content: url(../img/HCB/HCB-Portada-960.jpg);
  display: block;
  max-width: 100%;
}

.cover-post-6:not([src]) {
  content: url(../img/Calza/calza-portada-960.jpg);
  display: block;
  max-width: 100%;
}

.cover-post-7:not([src]) {
  content: url(../img/Malteadas/malteadas-portada-960.jpg);
  display: block;
  max-width: 100%;
}

.cover-post-8:not([src]) {
  content: url(../img/Bonf/bonf-portada-960.jpg);
  display: block;
  max-width: 100%;
}

.cover-post-9:not([src]) {
  content: url(../img/CHH/chhportadas-960.jpg);
  display: block;
  max-width: 100%;
}

.cover-post-10:not([src]) {
  content: url(../img/Yumlato/yumlaportadas-960.jpg);
  display: block;
  max-width: 100%;
}

.fadeIn {
  top: 80%;
}

.project {
  display: block;
  position: relative;
  max-width: 1440px;
  max-height: 100%;
  padding-top: 4rem;
}

.project::before {
  content: "";
  position: absolute;
  width: 100%;
}

.project-1:not([src]) {
  content: url(../img/Yum/yum-1920.jpg);
  max-width: 100%;
  max-height: 100%;
}

.project-2:not([src]) {
  content: url(../img/STB/STB-1920.jpg);
  max-width: 100%;
  max-height: 100%;
}

.project-3:not([src]) {
  content: url(../img/SDO/SDO-1920.jpg);
  max-width: 100%;
  max-height: 100%;
}

.project-4:not([src]) {
  content: url(../img/Colores/Colores-1920.jpg);
  max-width: 100%;
  max-height: 100%;
}

.project-5:not([src]) {
  content: url(../img/HCB/HCB-1920.jpg);
  max-width: 100%;
  max-height: 100%;
}

.project-6:not([src]) {
  content: url(../img/Calza/Calza-1920.jpg);
  max-width: 100%;
  max-height: 100%;
}

.project-7:not([src]) {
  content: url(../img/Malteadas/Malteadas-1920.jpg);
  max-width: 100%;
  max-height: 100%;
}

.project-8:not([src]) {
  content: url(../img/Bonf/Bonf-1920.jpg);
  max-width: 100%;
  max-height: 100%;
}

.project-9:not([src]) {
  content: url(../img/CHH/chhinternas-1920.jpg);
  max-width: 100%;
  max-height: 100%;
}

.project-10:not([src]) {
  content: url(../img/Yumlato/yumlato-1920.jpg);
  max-width: 100%;
  max-height: 100%;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
  font-size: 16px;
}

footer div:first-child {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  white-space: nowrap;
  max-width: 1920px;
  position: relative;
}

footer div:first-child hr {
  display: none;
}

footer div:first-child p {
  margin: 1.5vw;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.2rem;
}

footer div:first-child .socials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row wrap;
}

footer div:first-child .socials > * {
  flex: 1 100%;
}

footer div:first-child .socials p {
  color: rgba(0, 0, 0, 0.7);
  font-size: calc(0.5rem + 0.5vw);
  text-align: center;
  margin: 0.6rem 0;
  font-weight: 600;
  letter-spacing: normal;
}

footer div:first-child .socials a {
  flex: 1 auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-size: 1.6em;
  margin: 0;
}

footer div:first-child .socials a:hover, footer div:first-child .socials a:focus {
  cursor: pointer;
  outline: 0;
  color: silver;
  transition: all 500ms ease-in-out;
}

@media only screen and (max-width: 480px) {
  header .nav {
    position: relative;
    margin-top: 0;
  }
  header .nav #logo {
    margin: 0.3rem 0 0.3rem 5vw;
  }
  header .nav .land {
    border-bottom: none;
  }
  header .nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    position: absolute;
    transform: translate(50%, 50%);
    top: 100%;
    right: 50%;
    z-index: 50;
    visibility: hidden;
  }
  header .nav__item {
    opacity: 0;
    transition: all 0.2s cubic-bezier(0, 0.995, 0.99, 1) 0.5s;
    margin: 1rem 0;
    font-size: 1.8rem;
  }
  header .nav__item:hover, header .nav__item:focus {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 500ms ease-in-out;
  }
  header .nav__item.dropdown-6,
  header .nav__item .triangle-up {
    display: none;
  }
  header .nav__item.menu_mobile {
    display: block;
  }
  header #menu_desktop {
    display: none;
  }
  .main-banner #mainBanner:not([src]) {
    content: url(../img/mobile/bannnermobile-480.jpg);
  }
  .main-banner h2 {
    display: none;
  }
  .intro-text {
    flex-direction: column;
    padding: 1rem 2.6rem;
    margin: 0.5rem 0;
  }
  .intro-text img,
  .intro-text .bio-text {
    max-width: 100%;
    margin: 0;
  }
  .intro-text .bio-text {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .intro-text .bio-text div #bio-es,
  .intro-text .bio-text div #bio-en {
    text-align: left;
    line-height: 1.7rem;
  }
  .intro-text .bio-text #translate {
    font-size: 1rem;
    bottom: -12%;
  }
  .banner-1 {
    height: 180px;
  }
  .banner-1-works:not([src]) {
    content: url(../img/mobile/Myworkmobile-20.png);
    max-width: 90%;
  }
  .banner-1 .left-roll {
    left: 2rem;
  }
  .cover {
    flex-direction: column;
  }
  .cover-post {
    position: relative;
    max-width: 100%;
  }
  .cover-post-overlay {
    display: none;
  }
  .cover-post-title {
    position: relative;
    opacity: 1;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .cover-post-title p {
    display: none;
  }
  .cover-post-title h3 {
    margin: 0.4rem 0;
    width: 100%;
    font-size: 5.5vw;
    animation: slide-out-blurred-left 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  @keyframes slide-out-blurred-left {
    0% {
      transform: translateX(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-1000px) scaleX(2) scaleY(0.2);
      transform-origin: 100% 50%;
      filter: blur(40px);
      opacity: 0;
    }
  }
  .cover-post-title.left-in h3 {
    color: rgba(0, 0, 0, 0.7);
    left: 0%;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  }
  @keyframes slide-in-blurred-left {
    0% {
      transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      transform-origin: 100% 50%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 992px) {
  .project-1:not([src]) {
    content: url(../img/Yum/yum-1024.jpg);
    max-width: 100%;
    max-height: 100%;
  }
  .project-2:not([src]) {
    content: url(../img/STB/STB-1024.jpg);
    max-width: 100%;
    max-height: 100%;
  }
  .project-3:not([src]) {
    content: url(../img/SDO/SDO-1024.jpg);
    max-width: 100%;
    max-height: 100%;
  }
  .project-4:not([src]) {
    content: url(../img/Colores/Colores-1024.jpg);
    max-width: 100%;
    max-height: 100%;
  }
  .project-5:not([src]) {
    content: url(../img/HCB/HCB-1024.jpg);
    max-width: 100%;
    max-height: 100%;
  }
  .project-6:not([src]) {
    content: url(../img/Calza/Calza-1024.jpg);
    max-width: 100%;
    max-height: 100%;
  }
  .project-7:not([src]) {
    content: url(../img/Malteadas/Malteadas-1024.jpg);
    max-width: 100%;
    max-height: 100%;
  }
  .project-8:not([src]) {
    content: url(../img/Bonf/Bonf-1024.jpg);
    max-width: 100%;
    max-height: 100%;
  }
  .project-9:not([src]) {
    content: url(../img/CHH/chhinternas-1024.jpg);
    max-width: 100%;
    max-height: 100%;
  }
  .project-10:not([src]) {
    content: url(../img/Yumlato/yumlato-1024.jpg);
    max-width: 100%;
    max-height: 100%;
  }
  .cover-post-1:not([src]) {
    content: url(../img/Yum/yum-portada-480.jpg);
    display: block;
    max-width: 100%;
  }
  .cover-post-2:not([src]) {
    content: url(../img/STB/STB-Portada-480.jpg);
    display: block;
    max-width: 100%;
  }
  .cover-post-3:not([src]) {
    content: url(../img/SDO/sdo-portada-480.jpg);
    display: block;
    max-width: 100%;
  }
  .cover-post-4:not([src]) {
    content: url(../img/Colores/colores-portada-480.jpg);
    display: block;
    max-width: 100%;
  }
  .cover-post-5:not([src]) {
    content: url(../img/HCB/HCB-Portada-480.jpg);
    display: block;
    max-width: 100%;
  }
  .cover-post-6:not([src]) {
    content: url(../img/Calza/calza-portada-480.jpg);
    display: block;
    max-width: 100%;
  }
  .cover-post-7:not([src]) {
    content: url(../img/Malteadas/malteadas-portada-480.jpg);
    display: block;
    max-width: 100%;
  }
  .cover-post-8:not([src]) {
    content: url(../img/Bonf/bonf-portada-480.jpg);
    display: block;
    max-width: 100%;
  }
  .cover-post-9:not([src]) {
    content: url(../img/CHH/chhportadas-480.jpg);
    display: block;
    max-width: 100%;
  }
  .cover-post-10:not([src]) {
    content: url(../img/Yumlato/yumlaportadas-480.jpg);
    display: block;
    max-width: 100%;
  }
  footer {
    padding: 0;
  }
  footer div:first-child {
    flex-direction: column;
    text-align: center;
    white-space: normal;
  }
  footer div:first-child hr {
    display: block;
    order: 0;
    height: 1px;
    border-width: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0.5rem 0;
  }
  footer div:first-child p {
    font-size: 0.5rem;
    margin: 0.1rem 0;
  }
  footer div:first-child p:last-child {
    order: 3;
    margin-bottom: 0.5rem;
  }
  footer div:first-child .socials {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 85%;
    margin: 0 auto;
    order: -1;
  }
  footer div:first-child .socials P {
    font-size: 1rem;
    order: 0;
  }
}
/*# sourceMappingURL=main.css.map */