// Logo
$logo: url(../../img/Logotipo/logo.png);
// Main-banner
$banner: url(../../img/Bannerdesktop1920.jpg);
$banner-mobile: url(../../img/mobile/bannermobile480.jpg);

// About me picture
$valen-pic: url(../../img/foto-avatar-588.png);
$my-works: url(../../img/myworks-19.png);
$works-mobile: url(../../img/mobile/Myworkmobile-20.png);

// Cover:
$cover-1: url(../img/Yum/yumCover960.jpg);
$cover-2: url(../img/STB/STBCover960.jpg); //STB
$cover-3: url(../img/SDO/sdoCover960.jpg); //SDO
$cover-4: url(../img/Colores/coloresCover960.jpg);
$cover-5: url(../img/HCB/HCBCover960.jpg); //HCB
$cover-6: url(../img/Calza/calzaCover960.jpg);
$cover-7: url(../img/Malteadas/malteadasCover960.jpg);
$cover-8: url(../img/Bonf/bonfCover960.jpg);
$cover-9: url(../img/CHH/CHHCover960.jpg);
$cover-10: url(../img/Yumlato/yumlatoCover960.jpg);

// Cover mobile pictures & Carousel Swipe Slide pictures:
$coverMbl-1: url(../img/Yum/yumCover480.jpg);
$coverMbl-2: url(../img/STB/STBCover480.jpg); //STB
$coverMbl-3: url(../img/SDO/SDOCover480.jpg); //SDO
$coverMbl-4: url(../img/Colores/ColoresCover480.jpg);
$coverMbl-5: url(../img/HCB/HCBCover480.jpg); //HCB
$coverMbl-6: url(../img/Calza/CalzaCover480.jpg);
$coverMbl-7: url(../img/Malteadas/MalteadasCover480.jpg);
$coverMbl-8: url(../img/Bonf/BonfCover480.jpg);
$coverMbl-9: url(../img/CHH/CHHCover480.jpg);
$coverMbl-10: url(../img/Yumlato/yumlatoCover480.jpg);

// Projects images desktop
$project-1: url(../img/Yum/yum1920.jpg);
$project-2: url(../img/STB/STB1920.jpg);
$project-3: url(../img/SDO/SDO1920.jpg);
$project-4: url(../img/Colores/Colores1920.jpg);
$project-5: url(../img/HCB/HCB1920.jpg);
$project-6: url(../img/Calza/Calza1920.jpg);
$project-7: url(../img/Malteadas/Malteadas1920.jpg);
$project-8: url(../img/Bonf/Bonf1920.jpg);
$project-9: url(../img/CHH/CHH1920.jpg);
$project-10: url(../img/Yumlato/yumlato1920.jpg);

// Projects images mobile
$projectMb-1: url(../img/Yum/yum1024.jpg);
$projectMb-2: url(../img/STB/STB1024.jpg);
$projectMb-3: url(../img/SDO/SDO1024.jpg);
$projectMb-4: url(../img/Colores/Colores1024.jpg);
$projectMb-5: url(../img/HCB/HCB1024.jpg);
$projectMb-6: url(../img/Calza/Calza1024.jpg);
$projectMb-7: url(../img/Malteadas/Malteadas1024.jpg);
$projectMb-8: url(../img/Bonf/Bonf1024.jpg);
$projectMb-9: url(../img/CHH/CHH1024.jpg);
$projectMb-10: url(../img/Yumlato/yumlato1024.jpg);

// Amount of projects
$projects: (
    1 $cover-1 $coverMbl-1 $project-1 $projectMb-1,
    2 $cover-2 $coverMbl-2 $project-2 $projectMb-2,
    3 $cover-3 $coverMbl-3 $project-3 $projectMb-3,
    4 $cover-4 $coverMbl-4 $project-4 $projectMb-4,
    5 $cover-5 $coverMbl-5 $project-5 $projectMb-5,
    6 $cover-6 $coverMbl-6 $project-6 $projectMb-6,
    7 $cover-7 $coverMbl-7 $project-7 $projectMb-7,
    8 $cover-8 $coverMbl-8 $project-8 $projectMb-8,
    9 $cover-9 $coverMbl-9 $project-9 $projectMb-9,
    10 $cover-10 $coverMbl-10 $project-10 $projectMb-10,
);
